<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cmorrell.myobandcompanionapp" >

<!--    <uses-feature android:name="android.software.companion_device_setup" />-->

<!--    &lt;!&ndash; Request legacy Bluetooth permissions on older devices. &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.BLUETOOTH"-->
<!--        android:maxSdkVersion="30" />-->
<!--    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"-->
<!--        android:maxSdkVersion="30" />-->
<!--&lt;!&ndash;    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />&ndash;&gt;-->
<!--&lt;!&ndash;    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />&ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />-->

<!--    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />-->

<!--    &lt;!&ndash; Needed only if your app looks for Bluetooth devices.-->
<!--         If your app doesn't use Bluetooth scan results to derive physical-->
<!--         location information, you can strongly assert that your app-->
<!--         doesn't derive physical location. &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"-->
<!--                     android:usesPermissionFlags="neverForLocation"-->
<!--        tools:targetApi="s" />-->

<!--    &lt;!&ndash; Needed only if your app makes the device discoverable to Bluetooth-->
<!--         devices. &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />-->

<!--    &lt;!&ndash; Needed only if your app communicates with already-paired Bluetooth-->
<!--         devices. &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />-->

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--
 If your app targets Android 9 or lower, you can declare
         ACCESS_COARSE_LOCATION instead.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature android:name="android.software.companion_device_setup" />


    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyobandCompanionApp" >
        <receiver
            android:name=".MyoReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="TODO">
        </receiver>

        <service
            android:name=".BluetoothLeService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>